<div class="container mt-5">
  <div class="form-group">
    <label>Email</label>
    <input type="email" [(ngModel)]="serverName" class="form-control" placeholder="Enter Email...">
  </div>
  <div class="form-group">
    <label>Some Contet</label>
    <input type="text" [(ngModel)]="contetn" class="form-control" placeholder="Enter Some Contet...">
  </div>
  <button (click)="addServer()" type="submit" class="btn btn-success mr-3">Add Server </button>
  <button (click)="addServerDanger()" type="submit" class="btn btn-danger">Add Server redPrint</button>
  <hr>
  <div class="card">
    <ul class="card-header" *ngFor="let element of newArr">
      <li class="list-group-item text-white" 
      *ngIf="element.type === 'server'  " 
      style="background-color: #5cb85c;"> {{ element.name }} </li>
      <li class="list-group-item text-white" 
      *ngIf="element.type === 'serverRed'  " 
      style="background-color: #d9534f;"> {{ element.name }} </li>
      <li class="list-group-item"> {{element.text}} </li>
    </ul>
  </div>
</div>